################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs
/obj
llama-server-winui.Tests/bin/
llama-server-winui.Tests/obj/